secrets {
{# Secrets for generic connections #}
{% for connection in strongswan.connections %}
{%   if connection.secret is defined %}
   {{ connection.secret.type | default('ike') }}-{{ connection.name }} {
{%     if connection.secret.type | default('ike') == 'ike' %}
      id = {{ connection.remote.id }}
      secret = {{ connection.secret.password }}
{%     elif connection.secret.type | default('ike') in ['rsa', 'ecdsa', 'private'] %}
      file = '{{ connection.secret.file }}'
{%     endif %}
   }
{%   endif %}
{% endfor %}

{# Secrets for User VPN per-user connections #}
{% for user_connection in strongswan.user_connections %}
{%   for user in user_connection.users %}
  {{ user_connection.secret.type | default('ike') }}-{{ user.name }} {
      id = {{ user.id }}
      secret = {{ user.secret.password }}
   }
{%   endfor %}
{% endfor %}
}
